<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="testadmin" frontName="testadmin">
            <module name="Tomluu_E253CustomAdmin" before="Magento_Adminhtml" />
        </route>
    </router>
</config>