<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="paygent" xsi:type="string">/paygent/</item>
            </argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Model\PaymentManagement">
        <arguments>
            <argument name="command" xsi:type="object">Bluecom\Paygent\Gateway\Command\Form\BuildCommand</argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Model\PaymentManagementGuest">
        <arguments>
            <argument name="command" xsi:type="object">Bluecom\Paygent\Gateway\Command\Form\BuildCommand</argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Gateway\Request\HtmlRedirect\OrderDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Gateway\Command\Form\BuildCommand">
        <arguments>
            <argument name="logger" xsi:type="object">PaygentLogger</argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Gateway\Command\ResponseCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaygentCommandPool</argument>
            <argument name="validator" xsi:type="object">PaygentValidator</argument>
            <argument name="logger" xsi:type="object">PaygentLogger</argument>
        </arguments>
    </type>

    <virtualType name="PaygentFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">paygent</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Transparent\Info</argument>
            <argument name="infoBlockType" xsi:type="string">Bluecom\Paygent\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PaygentValueHandlerPool</argument>
            <argument  name="validatorPool" xsi:type="object">PaygentValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">PaygentCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PaygentCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Bluecom\Paygent\Gateway\Command\InitializeCommand</item>
                <item name="accept_command" xsi:type="string">Bluecom\Paygent\Gateway\Command\Response\AcceptCommand</item>
                <item name="cancel_command" xsi:type="string">Bluecom\Paygent\Gateway\Command\Response\CancelCommand</item>
                <item name="capture" xsi:type="string">Bluecom\Paygent\Gateway\Command\CaptureCommand</item>
                <item name="refund" xsi:type="string">PaygentRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PaygentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">paygent</argument>
        </arguments>
    </virtualType>
    <virtualType name="PaygentDefaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PaygentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PaygentDefaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PaygentCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PaygentValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">PaygentCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Bluecom\Paygent\Controller\HtmlRedirect\Response">
        <arguments>
            <argument name="command" xsi:type="object">Bluecom\Paygent\Gateway\Command\ResponseCommand</argument>
        </arguments>
    </type>
    <virtualType name="PaygentValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="response" xsi:type="string">Bluecom\Paygent\Gateway\Validator\ResponseValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Bluecom\Paygent\Gateway\Validator\ResponseValidator">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </type>
    <virtualType name="PaygentLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </virtualType>

    <type name="Bluecom\Paygent\Gateway\Command\CaptureCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Bluecom\Paygent\Gateway\Request\RemoteAdmin\CaptureDataBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Bluecom\Paygent\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PaygentHttpClient</argument>
            <argument name="validator" xsi:type="object">Bluecom\Paygent\Gateway\Validator\RemoteAdminValidator</argument>
        </arguments>
    </type>
    <virtualType name="PaygentRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Bluecom\Paygent\Gateway\Request\RemoteAdmin\RefundDataBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Bluecom\Paygent\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PaygentHttpClient</argument>
            <argument name="validator" xsi:type="object">Bluecom\Paygent\Gateway\Validator\RemoteAdminValidator</argument>
        </arguments>
    </virtualType>
    <type name="Bluecom\Paygent\Gateway\Request\RemoteAdmin\RefundDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Gateway\Request\RemoteAdmin\CaptureDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </type>
    <virtualType name="PaygentHttpClient" type="Magento\Payment\Gateway\Http\Client\Zend">
        <arguments>
            <argument name="logger" xsi:type="object">PaygentLogger</argument>
            <argument name="converter" xsi:type="object">Bluecom\Paygent\Gateway\Http\Converter\StringToMap</argument>
        </arguments>
    </virtualType>
    <type name="Bluecom\Paygent\Gateway\Command\Response\AcceptCommand">
        <arguments>
            <argument name="validator" xsi:type="object">Bluecom\Paygent\Gateway\Validator\AcceptValidator</argument>
            <argument name="handler" xsi:type="object">PaygentAcceptHandler</argument>
        </arguments>
    </type>
    <virtualType name="PaygentAcceptHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="details" xsi:type="string">Bluecom\Paygent\Gateway\Response\PaymentDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Bluecom\Paygent\Gateway\Response\PaymentDetailsHandler">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </type>
    <type name="Bluecom\Paygent\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">PaygentConfig</argument>
        </arguments>
    </type>
</config>