<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="faq" translate="label" sortOrder="800">
            <label>FAQ</label>
        </tab>
        <section id="faq" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>FAQ Configuration</label>
            <tab>faq</tab>
            <resource>Bluecom_Faq::faq_config</resource>
            <group id="default" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>FAQ Configuration</label>
                <field id="enable_faq" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable FAQ</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="faq_number_page" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of questions per page</label>
                    <comment>The number of questions shown on one page. If the value is empty or 0, default will be 20</comment>
                </field>
            </group>
        </section>
    </system>
</config>